<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css"
        rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <title>Contexto</title>
</head>

<body>
    <div class="registration-form">

        <form action="/" method="post">
            <img src="../static/img/img.gif" class="img-fluid rounded mx-auto d-block" alt="logo" width="100"
                height="100">
            <h2 class="text-center">Contexto</h2>
            <label for="word"></label>
            <input type="text" class="form-control item " name="word" id="word" placeholder="Digite uma palavra">
            <input type="submit" class="btn btn-block send" value="Enviar">
            <p>{{correct_word}}</p>
            {% if result_error %}
                <div class="result_error"><p>{{result_error}}</p></div>
                <div class="message"><p>{{message}}</p></div>
            {% else %}
                <div class="result_correct"><p>{{result_correct}}</p></div>
                <div class="message"><p>{{message}}</p></div>
            {% endif %}

            
        </form>
        
        <div class="como-jogar">
        <form>
           
                <h2>Como funciona o jogo?</h2>
                <p>Encontre a palavra oculta. Faça quantas tentativas forem necessárias.
    
                    As palavras foram organizadas por sua semelhança de contexto com a palavra oculta.
                    
                    Após enviar uma palavra, você receberá a posição dela na lista. A palavra oculta está na posição zero.
                    
                    O algoritmo usa o contexto em que as palavras são empregadas para avaliar a similaridade entre elas.</p>
    
        </form>
    </div>
</div>
    




</body>

</html>